# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.Python
.env/

# Django specific files
db.sqlite3
*.log

*.pot
*.pyc

# Settings for IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# Secrets
*.env
.env.*

# Testing
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover

# Migrations
*/migrations/*
!*/migrations/__init__.py